/* * {
    border: 1px solid;
}*/
* {
    box-sizing: border-box
}

li {
    background-color: red;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px
}

body {
    background-color:papayawhip ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color:papayawhip ;
}

nav a:hover{
    background-color:papayawhip ;
    color: black
}

.book, .join{
    background-color:papayawhip ;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#background{
    background-color:papayawhip ;
}

.msg{
    background-color:papayawhip ;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color:papayawhip ;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: black
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}   

.home-title{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: black
}

.book:hover, .join:hover{
    color: black
}

.msg h2{
    color: black
}

.msg p{
    color: black;
    padding-bottom: 15px;
}

.logo{
    width: 80px;
}

.icon{
    width: 100%;
    padding-top: 10px;
}

h2{
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin:200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img{
    box-sizing: border-box;
}