* {
    box-sizing: border-box
}

.header {
    width: 100%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

img {
    width: 30%;
}

.link_image{
    border-radius: 100%;
    padding: 3m;
    border-color: darkgrey;
}

main {
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: grey;
}

body{
    max-width:1280px;
    margin-left:auto;
    margin-right:auto;
}